[submodule "testcases/elm-markdown/repo"]
	path = testcases/elm-markdown/repo
	url = https://github.com/dillonkearns/elm-markdown
[submodule "testcases/elm-obj-file/repo"]
	path = testcases/elm-obj-file/repo
	url = https://github.com/w0rm/elm-obj-file
